In [1]:
import pandas as pd
df = pd.read_csv('horse_racing.csv')

In [2]:
df.head()

,Dato,Track,Race Number,Distance,Surface,Prize money,Starting position,Jockey,Jockey weight,Country,...,TrainerName,Race time,Path,Final place,FGrating,Odds,RaceType,HorseId,JockeyId,TrainerID
0,03.09.2017,Sha Tin,10,1400,Gress,1310000,6,K C Leung,52,Sverige,...,CH Yip,8338,2,9,110,22,Handicap,1736,8656,6687
1,16.09.2017,Sha Tin,10,1400,Gress,1310000,14,C Y Ho,52,Sverige,...,CH Yip,8156,3,4,124,48,Handicap,1736,8659,6687
2,14.10.2017,Sha Tin,10,1400,Gress,1310000,8,C Y Ho,52,Sverige,...,CH Yip,8236,1,6,118,11,Handicap,1736,8659,6687
3,11.11.2017,Sha Tin,9,1600,Gress,1310000,13,Brett Prebble,54,Sverige,...,CH Yip,9653,0,8,107,11,Handicap,1736,8453,6687
4,26.11.2017,Sha Tin,9,1600,Gress,1310000,9,C Y Ho,52,Sverige,...,CH Yip,9417,0,3,123,40,Handicap,1736,8659,6687

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27008 entries, 0 to 27007
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Dato               27008 non-null  object
 1   Track              27008 non-null  object
 2   Race Number        27008 non-null  int64
 3   Distance           27008 non-null  int64
 4   Surface            27008 non-null  object
 5   Prize money        27008 non-null  int64
 6   Starting position  27008 non-null  int64
 7   Jockey             27008 non-null  object
 8   Jockey weight      27008 non-null  int64
 9   Country            27008 non-null  object
 10  Horse age          27008 non-null  int64
 11  TrainerName        27008 non-null  object
 12  Race time          27008 non-null  int64
 13  Path               27008 non-null  int64
 14  Final place        27008 non-null  int64
 15  FGrating           27008 non-null  int64
 16  Odds               27008 non-null  int64
 17  RaceType           27008 non-null  object
 18  HorseId            27008 non-null  int64
 19  JockeyId           27008 non-null  int64
 20  TrainerID          27008 non-null  int64
dtypes: int64(14), object(7)
memory usage: 4.3+ MB

Question 1: Of all the rows in the data set what was the average weight of a jockey? Weights are listed in kilograms. Round to two decimal places.

In [4]:
round(df['Jockey weight'].mean(), 2)

55.87

Question 2: What was the average race time for jockey Brett Prebble? Round to two decimal places.

In [5]:
brett_df = df[df["Jockey"] == 'Brett Prebble']

round(brett_df['Race time'].mean(), 2)

7517.2

Question 3: Create a new dataframe that contains rows where horses and their jockeys won first place. How much money did first place jockeys win, on average? The money unit is Hong Kong dollars (HKD). Round to two decimal places.

In [6]:
first_place_df = df[df['Final place'] == 1]

round(first_place_df['Prize money'].mean(), 2)

1534781.48

Question 4: Did winning horses tend to run on dirt or grass surfaces?

In [7]:
first_place_df[['HorseId','Surface']].groupby('Surface').count()

         HorseId
Surface
Dirt         273
Gress       1952

Question 5: What was the fastest race time among horses that ran the 1400 meter race? The units given are in seconds (sometimes, the data is dirty, just assume they are all seconds for now).

In [8]:
distance_1400_df = df[df['Distance'] == 1400]

distance_1400_df['Race time'].min()

82

Question 6: What was the slowest race time among Irish horses who ran the 1400 meter race?

In [9]:
# Used this to find Ireland was spelled 'Irland'
# df[['HorseId', 'Country']].groupby('Country').count()

irish_distance_1400_df = df[(df['Distance'] == 1400) & (df['Country'] == 'Irland')]

irish_distance_1400_df['Race time'].max()

9291

Question 7: Which Australian jockey has competed in the most races?

In [10]:
aussie_df = df[df['Country'] == 'Australia']

aussie_df[['Jockey', 'JockeyId']].groupby('Jockey').count().sort_values(by='JockeyId', ascending=False)

              JockeyId
Jockey
Joao Moreira       945
Z Purton           892
K Teetan           883
C Y Ho             759
K C Leung          697
...                ...
H Lam                1
Flavien Prat         1
Wayne Smith          1
Yutaka Take          1
M Walker             1

[71 rows x 1 columns]

Question 8: Assume that greater odds indicates a lesser likelihood to win the race. According to this data set, which jockey out of Australia, Ireland, or the New Zealand has the least likelihood to win a race, on average (ie. the highest odds)?

In [11]:
AU_IE_NZ_df = df[(df['Country'] == 'Australia') | (df['Country'] == 'Irland') | (df['Country'] == 'New Zealand')]

AU_IE_NZ_df[["Jockey", "Odds"]].groupby("Jockey").mean().sort_values(by="Odds", ascending=False)

                         Odds
Jockey
H Lam              316.500000
B Avdulla          208.000000
Wayne Smith        205.500000
H W Lai            117.364621
T H So             109.710021
...                       ...
K Tosaki            36.500000
Yutaka Take         34.000000
Javier Castellano   26.000000
Y Iwata             22.000000
William Buick       17.000000

[81 rows x 1 columns]

Question 9: Of all horses age 10 or above, what is the horse ID of the one that has the best average race time (ie. the smallest)?

In [12]:
horses_age_10_and_above = df[df['Horse age'] >= 10]

horses_age_10_and_above[['HorseId', 'Race time']].groupby('HorseId').mean().sort_values(by='Race time')

            Race time
HorseId
22206     4388.000000
22527     4925.454545
22207     4943.000000
22304     5927.000000
22173     5970.500000
22234     6015.666667
22807     6117.000000
22862     6472.000000
22839     6631.875000
22326     6952.000000
22290     7015.111111
22188     7097.666667
22391     7273.400000
22728     8097.875000
22219     8250.200000
21850     9266.500000
22724    10090.333333
22623    10118.333333
22720    11148.000000
22872    11967.666667

Question 10: Which country won the most races (first place) where the prize money was over $2,000,000?

In [13]:
first_place_large_prize_df = df[(df['Final place'] == 1) & (df['Prize money'] > 2000000)]

first_place_large_prize_df[['Country', 'Prize money']].groupby('Country').count().sort_values(by='Prize money', ascending=False)

               Prize money
Country
Australia               87
New Zealand             45
Irland                  26
Great Britain           16
Frankrike                6
S?r-Afrika               5
USA                      5
Japan                    4
Brasil                   3
Tyskland                 3